<ng-container *ngIf="state$ | async as state">
  <form [formGroup]="form">
    <p-calendar
      formControlName="date"
      [(ngModel)]="dateValue"
      dateFormat="yy-mm-dd"
      dataType="string"
      [showIcon]="true"
    ></p-calendar>
    <p *ngIf="dateControl.invalid">Nieprawidłowy format daty</p>
  </form>

  <ng-container *ngIf="state.status === 'LOADING'">
    <p>Ładowanie danych...</p>
  </ng-container>

  <ng-container *ngIf="state.status === 'ERROR'">
    <p>Błąd pobierania danych. Spróbuj ponownie za chwilę.</p>
  </ng-container>

  <ng-container *ngIf="state.status === 'SUCCESS'">
    <p-table [value]="state.data![0].rates">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="currency">
            Waluta<p-sortIcon field="currency"></p-sortIcon>
          </th>
          <th pSortableColumn="code">
            Kod<p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="mid">
            Kurs<p-sortIcon field="mid"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rate>
        <tr>
          <td>
            {{ rate.currency }}
          </td>
          <td>
            {{ rate.code }}
          </td>
          <td>
            {{ rate.mid }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</ng-container>
