@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';

.p-datatable-header {
    display: flex;
    justify-content: space-between;
}

.table-header {
    display: flex;
    gap: 3rem;
    align-items: center;
}